* {
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
body {
	display: block;
	margin: 0px;
	padding: 0px;
}

#main_canvas {
	/*background-color: rgb(31.875, 31.875, 31.875);*/
	background-size: cover;
	background-position: center;
}

html {
	overflow: hidden;
}


#game_over_background {
	position: absolute;
	transition: background-color 1s;
	background-color: rgba(0, 0, 0, 0.0);
}

#game_over_window {
	transition: top 0.5s cubic-bezier(0,1.64,1,1);
	position: absolute;
	display: inline-block;
}

#game_over_text {
	/*position: absolute;*/
}

.button {
	margin-top: 40px;
	height: 60px;
	box-shadow: -1px -5px 0px 0px rgba(37, 37, 37, 0.2) inset;

	border-radius: 15px;
	text-align: center;
}

.button:active {
	box-shadow: -1px 5px 0px 0px rgba(37, 37, 37, 0.2) inset;
}

.button_text {
	vertical-align: center;
	text-align: center;
	padding: 5%;
}

#menu {
	color: white;
	background-color: red;
}

#restart {
	color: #606306;
	background-color: #a6ee28;
}

#menu_background {
	position: absolute;
	display: none;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background: #e0e0e0;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
