* {
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
body {
	display: block;
	margin: 0px;
	padding: 0px;
}

#main_canvas {
	background-color: rgb(31.875, 31.875, 31.875);
}

html {
	overflow: hidden;
}

.blink {
	animation: blink 0.2s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}

